<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <main>
                <form action="/admin/save-product" method="POST" class="product-form">
                    <div class="form-control">
                        <label for="title">Product Title</label>
                        <input type="text" name="title" id="title" />
                    </div>
                    <div class="form-control">
                        <label for="productImg">Product Image URL</label>
                        <input type="text" name="productImg" id="productImg" />
                    </div>
                    <div class="form-control">
                        <label for="price">Price</label>
                        <input type="text" name="price" id="price" />
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="5"></textarea>
                    </div>
                    <button type="submit">Add Product</button>
                </form>
            </main>
            <%- include('../includes/footer.ejs') %>