MONGODB_URL=YOUR_MONGO_URL

MAILTRAP_TOKEN=MAILTRAP_TOKEN
MAILTRAP_TOKEN_2=MAILTRAP_SECOND_TOKEN
MAILTRAP_RECIPIENT_MAIL=YOUR_MAILTRAP_RECEIPIENT

DOMAIN=YOUR_DOMAIN_NAME

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY